.custom-button{
    margin-top: 20px;
    width: 200px;
    height: 40px;
    border-radius: 0.25em;
    cursor: pointer;
    font-size:16px;
    font-weight: 600;
}
.custom-button.next {
    background-color: #007AE2;;
    color: #fff;
    border: none;
    padding: 4px;

  }
  .custom-button.prev {
    background-color: #fff;
    color: #007AE2;;
    border: solid 1px #007AE2;;
  }

.next:hover {
    background-color: #187BCD; 
  }
  
  .custom-button.return {
    width: 150px;
    background-color: #007AE2;;
    color: #fff;
    border: none;
    padding: 4px;
  }
  .prev:hover {
    background-color: #f8f8f8; 
  }
  .return:hover {
    background-color: #187BCD; 
  }
  

  @media (max-width: 768px) {
    .custom-button{
        width: 100px;
        font-size: 14px;
    }
    .custom-button.return {
        width: 100px;
        font-size: 14px;
    }
  }