.loading-spinner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(231, 231, 231, 0.357);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
  }
  
  .loading-spinner .spinner-icon {
    font-size: 48px;
    color: #007AE2;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  