.message {
  font-size: 18px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 75px;
  text-align: center;
}

.confirmation-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 4em 2em;
}

.circle-loader {
  margin-bottom: 1.25em;
  width: 120px;
  height: 120px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-top-color: #007ae2;
  border-radius: 50%;
  animation: loader-spin 1.2s infinite linear;
  position: relative;

}

.load-complete {
  animation: none;
  border-color: #007ae2;
  background-color: #007ae2;
  transition: all 500ms ease-in-out;
}

.checkmark {
  display: block;
  position: relative;
  color: white;
}

.checkmark.draw:after {
  animation-duration: 0.8s;
  animation-timing-function: ease;
  animation-name: checkmark;
  transform: scaleX(-1) rotate(140deg);
}

.checkmark:after {
  opacity: 1;
  height: 3em;
  width: 1.5em;
  transform-origin: left top;
  border-right: 1em solid white;
  border-top: 1em solid white;
  content: '';
  left: 1.5em;
  top: 4em;
  position: absolute;
}

@keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  20% {
    height: 0;
    width: 1.5;
    opacity: 1;
  }
  40% {
    height: 3em;
    width: 1.5em;
    opacity: 1;
  }
  100% {
    height: 3em;
    width: 1.5em;
    opacity: 1;
  }
}
@media (max-width: 640px) {
  .message{
    font-weight: 400;
  }
}