.enter-amount-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  height: 100%;
  width: 100%;
  justify-content: center;
}
.enter-amount-wrapper img {
  margin: 10px 0;
}
.input-amount {
  max-width: 410px;
}
.form-container h2 {
  font-size: 18px;
  font-weight: 500;
}

.account-details-wrapper {
  width: 100%;
}
.account-details label {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 6px 0;
}
.choose-debit {
  width: 100%;
  margin: 32px 0;
}
.account-number-wrapper {
  display: flex;
  flex-direction: column;
  letter-spacing: 1px;
  line-height: 1em;
}
.account-number {
  font-size: 14px;
  font-weight: 600;
}
.account-label {
  font-size: 12px;
  color: rgb(60, 60, 60);
}
hr {
  margin: 0;
  margin-bottom: 0.5em;
}
.form-container input[type="radio"] {
  margin-left: 5px;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

input.error {
  border-color: red;
}
@media (max-width: 768px) {
  .account-number-wrapper {
  text-align: start;
  }
  .input-amount {
    max-width: 250px;
  }
  .account-details-wrapper {
  max-width: 25em;
  }
}
