.update-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 2em;
}
.update-wrapper .ant-form-item-explain-error {
  font-size: 10px !important;
  text-align: center;
}
.update-mobile-number-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.fill-details-wrapper {
  width: 270px;
}

.birthdate p,
.enter-mobile-number p {
  margin-bottom: 0.25em;
  text-align: start;
}

.security-warning {
  padding: 1em 64px;
  background-color: #c9def2;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.input-mobile-number {
  border: none;
  box-shadow: none !important;
  border-bottom: 1px solid #aeaeae !important;
  border-radius: 0;
  padding: 0.25em 0;
  font-size: 12px;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.input-mobile-number input::placeholder {
  font-size: 10px;
}

@media (max-width: 640px) {
  .security-warning {
    width: 100vw;
    box-sizing: border-box;
    padding: 0.5em 1.5em;
  }

  .birthdate p,
  .number p {
    text-align: start;
  }
}
