body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html, body, #root {
  height: 100%;
  margin: 0;
}

.number {
  font-size: 16px;
  font-weight: 500;
}
input, textarea, select, label { font-family:inherit; }
p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 10px 0;
}
.ant-form-item input, textarea, select, label {
  font-family: "Poppins", sans-serif;
}
.text-small {
  font-size: 12px;
}
.text-xs{
  font-size: 10px;
}
.center{
  text-align: center  ;
}
a {
  text-decoration: none;
  color: #007AE2;;
}

.button-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.text-large{
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}
.text-medium{
  font-size:14px;
}


@media (max-width: 640px) {
  .form-container {
    text-align: center;
    box-shadow: none;
    padding: 2em;
  }
  .button-wrapper{
    gap: 0.5em;
  }
  .prev{
    margin: 0;
    border: none;
    color: black;
  }
  p{
    font-size: 14px;
  }
  .text-large{
    font-size: 14px;
  }
  .text-small{
    font-size: 12px;
  }
}

:where(.css-dev-only-do-not-override-18iikkb).ant-input-affix-wrapper:focus, :where(.css-dev-only-do-not-override-18iikkb).ant-input-affix-wrapper-focused {
  border-color: #d9d9d9 !important;
  box-shadow: none;
  }
  :where(.css-dev-only-do-not-override-18iikkb).ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
    border-color: #d9d9d9 !important;
    z-index: 1;
    }

    :where(.css-dev-only-do-not-override-18iikkb).ant-input {
      font-family: 'Poppins';
    }