body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html, body, #root {
  height: 100%;
  margin: 0;
}

.number {
  font-size: 18px;
  font-weight: 500;
}
p {
  font-size: 16px;
  font-weight: 400;
  margin: 10px 0;
}
.small-font {
  font-size: 12px;
}
a {
  text-decoration: none;
  color: #007AE2;;
}

.button-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.text-large{
  font-size: 18px;
  font-weight: 500;
}

.form-container {
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 38em;
  max-height: 40em;
  box-sizing: border-box;
  padding: 2em 2em;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 0.5em;
}

@media (max-width: 640px) {
  .form-container {
    text-align: center;
    box-shadow: none;
    padding: 2em;
  }
  .button-wrapper{
    gap: 0.5em;
  }
  .prev{
    margin: 0;
    border: none;
    color: black;
  }
  p{
    font-size: 14px;
  }
  .text-large{
    font-size: 14px;
  }
  .text-small{
    font-size: 12px;
  }
}

:where(.css-dev-only-do-not-override-18iikkb).ant-input-affix-wrapper:focus, :where(.css-dev-only-do-not-override-18iikkb).ant-input-affix-wrapper-focused {
  border-color: #d9d9d9 !important;
  box-shadow: none;
  }
  :where(.css-dev-only-do-not-override-18iikkb).ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
    border-color: #d9d9d9 !important;
    z-index: 1;
    }

    :where(.css-dev-only-do-not-override-18iikkb).ant-input {
      font-family: 'Poppins';
    }