  .verify-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    max-width: 500px;
    height: 100%;
    width: 100%;
    justify-content: center;
  }
  .icon-wrapper {
    width: 100px;
    height: 100px;
    background-color: #007AE2;;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }

  